.wrapper {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(4, 200px);
    gap: 10px;

    width: 100%;
}


@media (max-width: 850px) {
    .wrapper {
        grid-template-columns: repeat(2, 170px);
        gap: 5px;
    
        width: 100%;
    } 
}