.wrapper {
    margin-top: 50px;
    background-color: rgba(255, 255, 255, 0.5);
    width: 90%;
    min-height: 500px;
}

.content {
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.imageWrapper {
    border-radius: 50%;
    overflow: hidden;
    padding: 0;
    margin: 0;
    
    width: 200px;
    height: 200px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.image {
    width: 90%;
    height: 90%;
    transition: 3s;
}

.image:hover {
    transform: rotate(1080deg);
    transition: 3s;
}