.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;
  margin-top: 30px;
}

.sortButtons {
  display: flex;
  gap: 15px;
}

.mineralListWrapper {
  margin-top: 15px;
}

.navButtons {
  margin: 20px 0;

  display: flex;
  justify-content: space-around;
  width: 100%;
}

@media (max-width: 850px) {
  .navButtons {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
  }

  .sortButtons {
    flex-direction: column;
  }
}